@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-main text-text-primary font-sans antialiased overflow-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-bg-main;
}
::-webkit-scrollbar-thumb {
  @apply bg-[#222226] rounded hover:bg-accent-primary;
}
